[Unit]
Description=OpenSearch
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
RuntimeDirectory=OpenSearch-Dashboards
#PrivateTmp=true
#Environment=ES_HOME=/usr/share/OpenSearch
#Environment=ES_PATH_CONF=/etc/opensearch/
#Environment=PID_DIR=/var/run/
#Environment=ES_SD_NOTIFY=true
#EnvironmentFile=-/etc/sysconfig/opensearch

WorkingDirectory=/usr/share/OpenSearch-Dashboards

User=opensearch
Group=opensearch

ExecStart=/usr/share/OpenSearch-Dashboards/bin/opensearch-dashboards serve

[Install]

